#################################################
# IntelliJ IDEA
#################################################

.idea/
*.iml
*.ipr
*.iws

#################################################
# Java
#################################################

*.class
out/

#################################################
# Maven
#################################################

target/

#################################################
# VS Code
#################################################

.vscode/

#################################################
# Eclipse
#################################################

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/

#################################################
# NetBeans
#################################################

/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

#################################################
# Kotlin
#################################################

.kotlin/

#################################################
# macOS
#################################################

.DS_Store

#################################################
# Windows
#################################################

Thumbs.db

#################################################
# Project Data Files
#################################################

v1/students.txt
v2/Students.csv